
.left {
  float: left;
  text-align: center;
  width: 33%;
}

.left:hover {
  color: red;
}

.center {
  float: left;
  text-align: center;
  width: 33%;
}

.center:hover {
  color: yellow;
}

.center h3 {
  font-style: normal;
}

.right {
  float: left;
  text-align: center;
  width: 33%;
}

.right:hover{
  color: blue;
}

.right h3 {
  text-decoration: underline;
}

#A1 {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
}

#A2 {
  margin: 12px;
  border: 2px solid #00FFEA;
  padding: 4px;
  background-color: lightblue;
}

#A3 {
  margin: 12px;
  border: 2px solid purple;
  padding: 4px;
  background-color: pink;
}

#B1 {
  margin: 12px;
  border: 2px dashed yellow;
  padding: 4px;
  background-color: green;
  color: #fff;
}

#B2 {
  margin: 12px;
  border: 2px dotted red;
  padding: 4px;
  background-color: purple;
  color: yellow;
}

#B3 {
  margin: 12px;
  border: 4px solid blue;
  padding: 4px;
  background-color: magenta;
}

body {
  text-align: center;
  font-family: sans-serif;
  background-color: #CCEC00;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  color: indigo;
}

h2 {
  font-size: 39px;
  font-weight: bold;
  font-style: italic;
  color: purple;
}

h3 {
  font-size 31px;
  font-style: italic;
  color: salmon;
}

img {
  width: 75%;
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: grey;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .right {
    float: none;
    width: 100%;
  }
  .center {
    float: none;
    width: 100%;
  }
  .left {
    float: none;
    width: 100%;
  }
  body {
    background-color: teal;
  }
}
