.left {
  float: left;
  text-align: left;
}

.center {
  float: none;
  text-align: center;
}

.right {
  float: right;
  text-align: right;
}

.A1 {

}

.A2 {

}

p {
  padding: 7px;
  margin: 11px;
}

body {
  text-align: center;
  font-family: sans-serif;
  background-color: #CCEC00;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  color: indigo;
}

h2 {
  font-size: 39px;
  font-weight: bold;
  font-style: italic;
  color: purple;
}

h3 {
  font-size 31px;
  font-style: italic;
  color: salmon;
}
